.jobs-list {
  .job-item {
    border-bottom: 2px solid $primary_color;
    border-top: 0;
    .item-content {
      background-color: $background_primary_color;
      border-top: 1px solid $primary_color;
      padding-bottom: 10px;
      padding-right: 10px;
      padding-top: 10px;
      h2 {
        color: $primary_color;
        font-size: 18px;
        margin-bottom: 5px;
      }
      p {
        color: $secondary_color;
        font-size: 12px;
        line-height: 15px;
      }
    }
    .item-options {
      .button {
        min-width: 65px;
      }
    }
    &:first-child {
      .item-content {
        border-top: 0;
      }
    }
  }
  .item {
    &.activated {
      .item-content {
        background-color: $background_primary_color;
        border-color: $primary_color;
      }
    }
  }
  .item-complex {
    &.activated {
      background-color: $background_primary_color;
      border-color: $primary_color;
    }
  }
}
