.log-in {
    background-color: $background_primary_color;
    .image {
        text-align: center;
        margin-top: 40px;
    }
    .title {
        text-align: center;
        h1 {
            color: #CBCDCC !important;
        }
    }
    .list {
        width: 50%;
        margin: auto;
        margin-bottom: 50px;
        label {
            background: $background_primary_color;
            border: none;
            padding: 5px 0;
        }
        input {
            padding: 2px 5px;
            text-align: center;
            background-color: $background_primary_color;
            color: #fff;
            border-bottom: 1px solid $primary_color;
        }
    }
    .button {
        width: 50% !important;
        margin: auto !important;
    }
}