.popup {
	background: $background_primary_color !important;
    color: $secondary_color !important;
    border: 2px solid $primary_color !important;
    .popup-head {
    	color: $secondary_color !important;
    	border-bottom: 0 !important;
    	.popup-title {
    		color: $secondary_color !important;
    		font-weight: 300 !important;
    		font-size: 17px !important;
    	}
    }
    .popup-buttons {
    	display: block !important;
    	.button {
    		display: block !important;
    		width: 100% !important;
    		margin: 5px 0 !important;
    		font-size: 20px !important;
    		font-weight: 300 !important;
    	}
    }
}