.popup {
  background: $background_primary_color !important;
  border: 2px solid $primary_color !important;
  color: $secondary_color !important;
  .popup-head {
    border-bottom: 0 !important;
    color: $secondary_color !important;
    .popup-title {
      color: $secondary_color !important;
      font-size: 17px !important;
      font-weight: 300 !important;
    }
  }
  .popup-buttons {
    display: block !important;
    .button {
      display: block !important;
      font-size: 20px !important;
      font-weight: 300 !important;
      margin: 5px 0 !important;
      width: 100% !important;
    }
  }
}
