.side-menu {
  .menu-item {
    background-color: $background_secondary_color;
    border-bottom: 0;
    border-top: 2px solid $primary_color;
    color: $primary_color;
    font-weight: 600;
    position: relative;
    .nav-button {
      position: absolute;
      right: 15px;
    }
  }
  .user-img {
    background: $background_secondary_color;
    border-radius: 50%;
    display: inline-block;
    height: 36px;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 36px;
    .ion-person {
      color: $primary_color;
      font-size: 32px;
    }
  }
  .user-name {
    display: inline-block;
    margin-left: 55px;
    text-transform: uppercase;
  }
}
