<ion-view>
    <ion-content>
        <div class="input-form">
            <pbox-select pb-label="'Box size'" pb-options="vm.sizeOptions" ng-model="vm.job.size"></pbox-select>
            <input type="text" placeholder="Destination Country" ng-model="vm.job.destination.country" />
            <input type="text" placeholder="Destination City" ng-model="vm.job.destination.city" />
            <input type="text" placeholder="Destination Street" ng-model="vm.job.destination.street" />
            <input type="text" placeholder="Destination House Number" ng-model="vm.job.destination.houseNumber" />
            <input type="text" placeholder="Receiver Name" ng-model="vm.job.destination.receiverName" />
            <input type="text" placeholder="Receiver Phone" ng-model="vm.job.destination.receiverPhone" />
            <button class="button button-main button-block" ng-click="vm.save()">Save</button> 
        </div>
    </ion-content>
</ion-view>