<ion-list can-swipe="listCanSwipe">
    <ion-item class="item-thumbnail-left job-item" ng-repeat="j in jobsList track by $index" ng-click="onJobClick(j)">
        <img ng-src="/images/logo.png">
        <h2>Job {{$index + 1}}</h2>
        <p>
            {{j.status}} | SIZE {{j.size}}
        </p>
        <p>
            <span>Job created: {{j.createdAt | amDateFormat: 'DD/MM/YYYY [at] hA'}}</span>
        </p>
        <ion-option-button ng-repeat="sa in swipeActions track by $index" class="{{sa.button}}" ng-click="actionClicked(j, $index)">
            <span class="button-icon {{sa.icon}}" ng-if="!sa.text"></span>
            <span ng-if="!!sa.text">{{sa.text}}</span>
        </ion-option-button>
    </ion-item>
</ion-list>
<ion-infinite-scroll on-infinite="loadMoreJobs()" distance="1%">
</ion-infinite-scroll>
