.log-in {
  background-color: $background_primary_color;
  .image {
    margin-top: 40px;
    text-align: center;
  }
  .title {
    text-align: center;
    h1 {
      color: #cbcdcc !important;
    }
  }
  .list {
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
    label {
      background: $background_primary_color;
      border: 0;
      padding: 5px 0;
    }
    input {
      background-color: $background_primary_color;
      border-bottom: 1px solid $primary_color;
      color: #fff;
      padding: 2px 5px;
      text-align: center;
    }
  }
  .button {
    margin: auto !important;
    width: 50% !important;
  }
}
