<ion-list ng-controller="sideMenuController as vm">
    <ion-item>
        <span class="user-img"><span class="ion-person"></span></span>
        <span class="user-name">{{ currentUser.username }}</span>
    </ion-item>
    <ion-item class="menu-item" menu-close ng-click="vm.redirectToState('jobs')">
        Available Jobs
        <span class="nav-button ion-chevron-right"></span>
    </ion-item>
    <ion-item class="menu-item" menu-close ng-click="vm.redirectToState('my-jobs')">
        My Jobs
        <span class="nav-button ion-chevron-right"></span>
    </ion-item>
    <ion-item class="menu-item" menu-close ng-click="vm.logout()">
        Logout
        <span class="nav-button ion-power"></span>
    </ion-item>
    <ion-item>
        <span class="ion-location"></span> {{ currentLocation.latitude }}, {{ currentLocation.longitude }}
    </ion-item>
    <ion-item>
        <span class="ion-information-circled"></span> {{ currentLocation.message }}
    </ion-item>
</ion-list>